/* General styling */

/* Importing the font from fonts.googel.com*/
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sour Gummy", sans-serif;
    font-size: 1rem;
    background-color: #f6f3e9;
    color: #232f61;
}

h1,
h2,
h3,
h4 {
    color: hsl(0, 0%, 0%);
    font-weight: bold 300;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Skip to the main content */
#skip {
    position: absolute;
    left: -400px;
    background-color: #ffffff;
    padding: 10px;
}

#skip:focus {
    display: inline-block;
    left: 10px;
    z-index: 1000;
}

a {
    text-decoration: none;
    color: #232f61;
    text-decoration-color: white;
}

a:hover {
    color: #fea485;
    text-decoration: underline;
    text-underline-offset: 1rem;
    /* text-decoration-color: pink; */
}

/* -------------------
----------------------
  Hambuerger menu
  ---------------------
  --------------------- */
.menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
    z-index: 100;
}

.menuItem:hover {
    text-decoration: underline;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 0.7rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
}

.closeIcon {
    display: none;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
}

.showMenu {
    transform: translateY(0);
}

/* Header section */
#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #f6f3e9;
    z-index: 100;
    transition: background-color .4s;
}

.shadow-header {
    box-shadow: 0 1px 16px hsla(0, 0%, 0%, .12);
}

.logo {
    padding-top: 1rem;
    font-size: 2rem;
    color: #232f61;
    font-weight: bold;
    padding-left: 1rem;
    padding: 0.5rem 1rem;
}


.logo:hover {
    cursor: default;
}


/* General CSS styling */


.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 4rem 2rem;
}

/* Home page */

.home_container {
    padding-top: 2rem;
}

.home_name {
    font-size: 2rem;
    text-align: center;
}

.home_content {
    position: relative;
    justify-self: center;
    align-items: center;
    margin-block: 2.5rem 4.5rem;
}

.home_img {
    position: relative;
    z-index: 10;
}

.home_image {
    position: relative;
    justify-self: center;
    /* margin-block: 2.5rem 4.5rem; */
    /* width: 220px; */
}

.description {
    text-align: center;
    color: #232f61;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}

.description b {
    background: linear-gradient(90deg,
            hsla(14, 98%, 50%, .3),
            hsla(14, 98%, 50%, 0));
}

/* About page */
.about_section {
    background-color: #EAE6D9;
    transition: background-color 0.4s;
}

.section_title-1 {
    text-align: center;
    font-size: 2rem;
    top: 1rem;
    margin-top: -4rem;
}

.about_container {
    row-gap: 0;
}

.about_content {
    position: relative;
    justify-self: center;
    margin-block: 2.5rem 4.5rem;
}

.about_image {
    width: 220px;
}

.about_img {
    position: relative;
}

.about_info {
    padding-left: 1.25rem;
}

.about_description {
    position: relative;
    margin-bottom: 1.5rem;
}

/* about button  */
.about_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.button,
.button_ghost {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
}

.button {
    background-color: black;
    padding: 0.7rem 1.5rem;
    text-align: center;
    color: white;
    font-weight: 500;
    transition: background-color .4s;

}

.button i {
    font-size: 1.25rem;
    color: white;
}

.button:hover {
    color: white;
    background-color: #fea485;
    text-decoration: none;
}

.button_ghost {
    border: 3px solid black;
    color: black;
    padding: .5rem;
    transition: border .4s, color .4s;
}

.button_ghost i {
    font-size: 1.25rem;
    color: black
}

.button_ghost:hover {
    border: 3px solid #fea485;
    text-decoration: none;
}